<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <!--  -->
    <div id="app">
        <!-- <h2>i am the template now</h2> -->
        <p>{{ author}}- {{ title}} -{{ age }}</ p>
            <!-- CLICK EVENTS   -->
            <button v-on:click="age++">Increase Age </button>
            <button v-on:click="age--">Increase Age </button>
            <!-- <div @click="title ='something else'">change book title </div> -->
            <div @click="changeTitle('hello')">change book title </div>

            <!-- CONDITIONAL RENDERING  -->
            <h1>CONDITIONAL RENDERING</h1>

            <div id="app">
                <div v-if="showBooks">
                    <p>{{ title }} - {{ author }} = {{ age }} </p>

                </div>
                <button @click="toggleShowBooks"> 
                    <span v-if="showBooks">Hide Books</span>
                    <span v-else="showBooks">show Books</span>
                    <!-- <span v-if="!showBooks">show Books</span> -->
                </button>
                <div v-show="showBooks">currently showing books</div>
            </div>

            <!-- MOUSE EVENTS -->
            <div class="box" @mouseover="handleEvent($event,5)">mouseover (enter)</div>
            <div class="box" @mouseleave="handleEvent">mouseleave</div>
            <div class="box" @dblclick="handleEvent">double click</div>
            <div class="box" @mousemove="handleMousemove">position - {{ x}} {{ y}}</div>

            <!-- OUTPUTTING LIST -->

            <!-- ATTRIBUTE BINDING -->
            <a :href="url">google</a>

    </div>

    <p></p>
    <script src=" app.js "></script>
</body>
<style>
    .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
    }
</style>

</html>