<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="stylesheet" href="src/index.css">
</head>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.tailwindcss.com"></script>

<body class="h-full w-full">
    <div class="p-3 m-2 border-2 border-red-500 h-fit w-fit" id="app">
        <!-- start -->
        <h1>{{ product}}</h1>
        <p>{{ description }}</p>


        <div class="border-2 border-red-700 m-1 p-2">

            <div class="border-2 border-red-400 m-1 px-2 rounded">
                <h1>{{product}}</h1>
                <a :href="url">made by vue mastery</a>
                <p v-show="inStock">In Stock</p>
                <p v-if="inStock">In Stock</p>
                <p v-else>out of Stock</p>
            </div>

            <div class="flex flex-row m-2 border-2 rounded border-blue-500 p-2 w-fit">

                <div class=" m-1 p-1 rounded"><img class="h-fit w-fit rounded" :src="image"></div>
                <div class="m-2 text-center px-1">
                    <p v-if="inventory > 10">In stock</p>
                    <p v-else-if="inventory <=10 && inventory > 0">Almost sold out!</p>
                    <p v-else>Out of Stock</p>
                    <p v-if="onSale">On Sale!</p>
                </div>
                <div>
                    <div class="border border-blue-600 w-fit rounded m-1 px-2">
                        <!-- Event Handling -->
                        Cart: {{cart}}
                    </div>
                    <div>
                        <ul>
                            <li v-for="detail in details">{{detail}}</li>
                        </ul>
                    </div>
                    <div class="flex ">
                        <div :style="{backgroundColor:varient.color}" class="border-2 border-red-900 m-1 p-1 h-12 w-12 bg-blue-900 rounded-full" v-for="varient in varients" ::key="varient.id" @mouseover="updateImage(varient.image)">
                            {{varient.color}}
                        </div>
                        <div class="border-2 border-red-900 m-1 p-1" v-for="size in sizes" ::key="size.id">{{size}}
                        </div>

                    </div>
                    <div>
                        <!-- <button class="border-1 rounded-3xl bg-sky-600 hover:bg-sky-700 border-red-500  p-2 m-1  " v-on:click="cart +=1">Add to
                            Cart</button> -->
                        <button :class="{disabledButton: !inStock}" disabled="!inStock" class="border-1 rounded-3xl bg-sky-600 hover:bg-sky-700 border-red-500  p-2 m-1  " v-on:click="addToCard">Add to
                            Cart</button>
                        <button class="border-1 rounded-3xl bg-sky-600 hover:bg-sky-700 border-red-500  p-2 m-1  " v-on:click="decrementToCard">
                            -</button>
                    </div>



                </div>
            </div>


        </div>
    </div>




    <script type="module" src="/src/main.js"></script>
    <script>
        // import './index.css'
        // const mountedApp = app.mount('#app')
    </script>

</body>

</html>

<style>
    .disabledButton {
        background-color: red;
        cursor: not-allowed
    }
</style>